@charset "utf-8";

html{
	@media(min-width:$screen-tb+1) {
		font-size: 62.5%;
	}
	@media(max-width:$screen-tb) {
		font-size: 70%;
	}
}

body {
	font-size: 1.6rem;
	font-family: $font-family;
	color: $font;
	background-color: $sitebg;
	-webkit-tap-highlight-color: rgba(white, 0.2);
}

a {
	color: $link;
	&:hover,
	&:focus {
		color: darken( $link, 15% );
	}
}

img{
	max-width: 100%;
	height: auto;
}

.container{
	padding: 0 10px;
	@media(min-width:$screen-pc+1) {
		max-width: $screen-pc;
		margin: 0 auto;
	}
}

.site-header{
	background-color: $primary;
	padding: 20px 0;
}

.site-footer{
	background-color: $primary;
	padding: 20px 0;
}

.site-copyright{
	text-align: center;
}

.ozn-form-container{
	padding: 30px 0;
	ul{
		margin-bottom: 20px;
		margin-left: 2rem;
		list-style: disc;
		li{
			line-height: 1.6;
			ul{
				margin-top: 10px;
				}
			}
		}
	ol{
		margin-bottom: 20px;
		list-style: decimal;
		li{
			line-height: 1.6;
		}
	}
}

.ozn-form-lead{
	margin-bottom: 20px;
}

.privacy-wrapper{
	width: 88%;
	margin: 0 auto 30px;
	.privacy-inner{
		border: 1px solid $light-gray;
		height: 150px;
		overflow: auto;
		padding: 20px;
		font-size: 1.3rem;
	}
}

.sp-hide{
	@media(max-width:$screen-sp) {
		display: none;
	}
}
.tb-hide{
	@media(min-width:$screen-sp+1) and (max-width:$screen-tb) {
		display: none;
	}
}
.pc-hide{
	@media(min-width:$screen-tb+1) {
		display: none;
	}
}