@charset "utf-8";

html{
	@media(min-width:$screen-tb+1) {
		font-size: 62.5%;
	}
	@media(max-width:$screen-tb) {
		font-size: 70%;
	}
}

body {
	width: 100%;
	height: 100%;
	font-size: 1.6rem;
}

a {
	@include easeing;
	&:hover,
	&:focus {
		text-decoration: none;
		img{
			opacity: 0.8;
			@include easeing;
		}
	}
}

img{
	max-width: 100%;
	height: auto;
}

.site-header{
	padding: 20px 0;
}

.container{
	padding: 0 10px;
	@media(min-width:$screen-pc+1) {
		max-width: $screen-pc;
		margin: 0 auto;
	}
}

.site-footer{
	padding: 20px 0;
}

.site-copyright{
	text-align: center;
}

.ozn-form-container{
	padding: 30px 0;
	ul{
		margin-bottom: 20px;
		margin-left: 2rem;
		list-style: disc;
		li{
			line-height: 1.6;
			ul{
				margin-top: 10px;
				}
			}
		}
	ol{
		margin-bottom: 20px;
		list-style: decimal;
		li{
			line-height: 1.6;
		}
	}
}

.ozn-form-lead{
	margin-bottom: 20px;
}

.ozn-form-inner{
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid $tableborder;
	box-sizing: border-box;
	.th{
		overflow: hidden;
		background-color: $thbg;
		border-left: 1px solid $tableborder;
		border-right: 1px solid $tableborder;
		border-bottom: 1px solid $tableborder;
		padding: 10px 20px;
		vertical-align: middle;
		text-align: left;
		box-sizing: border-box;
		min-width: $th-min-width;
	}
	.td{
//		overflow: hidden;
		background-color: $tdbg;
		border-right: 1px solid $tableborder;
		border-bottom: 1px solid $tableborder;
		padding: 10px 10px 10px 20px;
		box-sizing: border-box;
	}
	@media(min-width:$screen-tb+1) {
		display: table;
		.tr{
			display: table-row;
		}
		.th{
			display: table-cell;
		}
		.td{
			display: table-cell;
		}
	}
	dl{
		margin-bottom: 10px;
			dt{
				padding: 8px 0;
				.ozn-label{
					float: none;
				}
			}
			dd{
				margin-bottom: 10px;
			}
		@media(min-width:$screen-pc+1) {
			dt{
				clear: left;
				float: left;
				width: 23%;
			}
			dd{
				margin-left: calc(25%);
				margin-bottom: 10px;
			}
		}
	}
}
@media(max-width:$screen-tb) {
	.ozn-form-inner{
		.td{
			border-left: 1px solid $tableborder;
			padding-top: 20px;
			padding-bottom: 20px;
		}
		dl{
			dt{
				float: none;
				width: auto;
				padding: 5px 0;
			}
			dd{
				margin-left: 0;
			}
		}
	}
}
.ozn-form-confirm{
	.ozn-form-inner{
		dl{
			dt{
				padding: 0;
			}
		}
	}
}

.privacy-wrapper{
	width: 88%;
	margin: 0 auto 30px;
	.privacy-inner{
		border: 1px solid $light-gray;
		height: 150px;
		overflow: auto;
		padding: 20px;
		font-size: 1.3rem;
	}
}

.sp-hide{
	@media(max-width:$screen-sp) {
		display: none;
	}
}
.tb-hide{
	@media(min-width:$screen-sp+1) and (max-width:$screen-tb) {
		display: none;
	}
}
.pc-hide{
	@media(min-width:$screen-tb+1) {
		display: none;
	}
}