@charset "utf-8";

html{
	@media(min-width:$screen-tb+1) {
		font-size: 62.5%;
	}
	@media(max-width:$screen-tb) {
		font-size: 70%;
	}
}

body {
	width: 100%;
	height: 100%;
	font-family: $font-family;
	color: $font;
	font-size: 1.6rem;
	background-color: $sitebg;
	-webkit-tap-highlight-color: rgba(white, 0.2);
}

a {
	color: $link;
	@include easeing;
	&:hover,
	&:focus {
		text-decoration: none;
		color: darken( $link, 15% );
		img{
			opacity: 0.8;
			@include easeing;
		}
	}
}

.site-header{
	background-color: $primary;
	padding: 20px 0;
}

.container{
	padding: 0 10px;
	@media(min-width:$screen-pc+1) {
		max-width: $screen-pc;
		margin: 0 auto;
	}
}

.site-footer{
	background-color: $primary;
	padding: 20px 0;
}

.site-copyright{
	text-align: center;
}

.ozn-form-container{
	padding: 30px 0;
	p {
		line-height: 1.6;
	}
	ul{
		margin-bottom: 20px;
		margin-left: 2rem;
		list-style: disc;
		li{
			line-height: 1.6;
			ul{
				margin-top: 10px;
				}
			}
		}
	ol{
		margin-bottom: 20px;
		list-style: decimal;
		li{
			line-height: 1.6;
		}
	}
}

.ozn-form-inner{
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid $tableborder;
	box-sizing: border-box;
	th{
		background-color: $thbg;
		border: 1px solid $tableborder;
		padding: 10px 20px;
		vertical-align: middle;
		text-align: left;
		box-sizing: border-box;
		min-width: $th-min-width;
	}
	td{
		background-color: $tdbg;
		border: 1px solid $tableborder;
		padding: 10px 10px 10px 20px;
		box-sizing: border-box;
	}
	
	dl{
		margin-bottom: 10px;
		dt{
			clear: left;
			float: left;
			width: 20%;
			padding: 8px 0;
		}
		dd{
			margin-left: calc(21%);
			margin-bottom: 10px;
		}
	}
}
@media(max-width:$screen-tb) {
	.ozn-form-inner{
		display: block;
		border-left: none;
		border-right: none;
		border-bottom: none;
		tbody, tr, th, td{
			display: block;
			overflow: hidden;
		}
		th{
			border-top: none;
		}
		td{
			border-top: none;
		}
		dl{
			dt{
				float: none;
				width: auto;
				padding: 5px 0;
			}
			dd{
				margin-left: 0;
			}
		}
	}
}

.privacy-wrapper{
	width: 88%;
	margin: 0 auto 20px;
	.privacy-inner{
		border: 1px solid $light-gray;
		height: 150px;
		overflow: auto;
		padding: 20px;
		font-size: 1.3rem;
	}
}

.sp-hide{
	@media(max-width:$screen-sp) {
		display: none;
	}
}
.tb-hide{
	@media(min-width:$screen-sp+1) and (max-width:$screen-tb) {
		display: none;
	}
}
.pc-hide{
	@media(min-width:$screen-tb+1) {
		display: none;
	}
}