.step_bar {
  position: relative;
  list-style: none;
  margin: 0 0 1em;
  padding: 0;
  text-align: center;
  width: 100%;
  overflow: hidden;
  li {
		font-size: 1.2rem;
		color: $light-gray;
    position: relative;
    float: left;
    display: inline-block;
    line-height: 40px;
    padding: 0 40px 0 20px;
    background-color: $lighter-gray;
    box-sizing: border-box;
    &:before,
    &:after {
      position: absolute;
      left: -15px;
      display: block;
      content: '';
      background-color: $lighter-gray;
      border-left: 4px solid #FFF;
      width: 20px;
      height: 20px;
    }
    &:after {
      top: 0;
      @include transform(30deg);
    }
    &:before {
      bottom: 0;
      @include transform(-30deg);
    }
    &:first-child {
			border-left-radius: 4px;
      &:before,
      &:after {
        content: none;
      }
    }
    &:last-child {
      border-right-radius: 4px;
    }
    &.current {
      color: #FFF;
      background-color: $link;
      &:before,
      &:after {
        background-color: $link;
      }
    }
  }
  &.step2 {
    li {
      width: 50%;
    }
  }
  &.step3 {
    li {
      width: 33.333%;
    }
  }
  &.step4 {
    li {
      width: 25%;
    }
  }
  &.step5 {
    li {
      width: 20%;
    }
  }
}