@charset "utf-8";
// Variables

$font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

$primary: #D8CFC6;
$link: #6C9BC2;
$sitebg: #FFFFFF;
$font: #222222;

$tableborder: #A6A6B0;
$thbg: #EEEEEE;
$tdbg: #FFFFFF;
$th-min-width: 33%;

$input-border-default: #999999;
$input-border-focus: #66afe9;
$input-border-valid: #7BD177;
$input-border-invalid: #FF0000;

$optional: #5B7FF4;
$required: #F2393D;

$btn-back: #999999;
$btn-submit: #c61316;

$light-gray: #c9c9c6;
$lighter-gray: #e9e8ea;
$dark-gray: #666666;


// screen
$screen-sp: 480px;
$screen-tb: 640px;
$screen-pc: 940px;

//  Mixins
@mixin easeing {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
@mixin vertical-justify {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
@mixin border-radius($size) {
	-moz-border-radius: $size;
	-webkit-border-radius: $size;
	-o-border-radius: $size;
	border-radius: $size;
}
@mixin transform($deg) {
		-webkit-transform: skew($deg);
		-moz-transform: skew($deg);
		-ms-transform: skew($deg);
		-o-transform: skew($deg);
	transform: skew($deg);
}
@mixin linear-gradient($color) {
	background-image: -moz-linear-gradient( 90deg, rgba($color,1) 0%, rgba($color,0.5) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgba($color,1) 0%, rgba($color,0.5) 100%);
	background-image: -ms-linear-gradient( 90deg, rgba($color,1) 0%, rgba($color,0.5) 100%);
}

