node_modules/
/release/config/database.php



/release/upload/files
!/release/upload/files/.htaccess
.env

# sqlite database
/release/db/*.db
!/release/db/sample_jpj5405WD94E3GTvgG5wet459gsGjgHGee.db


!.keep
