node_modules/
/release/ozn-form/config/database.php

# アップロードディレクトリ
/release/ozn-form/upload/files/*
!/release/ozn-form/upload/files/thumbnail
/release/ozn-form/upload/files/thumbnail/*
!/release/ozn-form/upload/files/thumbnail/.keep

.env

# sqlite database
/release/ozn-form/db/*.db
.phpunit.result.cache

# スナップショット（E2Eテスト）保存ディレクトリ
/release/ozn-form/test/FeatureTests/snapshots/
!/release/ozn-form/test/FeatureTests/snapshots/.keep
