<!-- @@master ../../layout/layout.html {"title": "設置手順", "relative_path": "../", "home_active":"active"} -->

<!-- @@block additional_header -->

<!-- @@close -->

<!-- @@block content -->

<div class="container">

    <div class="page-header">
        <h1>ファイル内容説明・設置手順 </h1>
    </div>


    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <h2 class="setting-header">1. フォーム本体ファイルの設置</h2>

    <p>
        メールにてご案内のダウンロードURLから入手の場合、/ozn-form/ がフォーム本体ファイル群、/sample-form/ が設置サンプルファイルです。<br>
        設置したいサイトのドキュメントルートにアップロードしてください。
    </p>
    <p>
        /ozn-form/ Gitリポジトリから入手の場合、/release/ 以下がフォーム本体ファイル群です。<br>
       設置したいサイトのドキュメントルートにアップロードし、ディレクトリ名を任意の名前に変更してください。
    </p>

    <div class="alert alert-success setting-alert">
        <span class="glyphicon glyphicon-info-sign"></span> 以下の説明は、フォーム本体のディレクトリ名を /ozn-form/ とし、ドキュメントルートに設置したものとして進めますが、本体のディレクトリ名・設置階層は自由に決められます。
    </div>

    <h3 class="config-subheader">ozn-form本体 ディレクトリ構成</h3>
    <p>ozn-form/<br>
       　├ admin/　お問い合わせ履歴CSVダウンロードページ<br>
       　├ config/　オプション機能の設定ファイル群【必須】<br>
       　│　├ database_sample.php　履歴CSV機能使用時の設定ファイル（見本）<br>
       　│　├ mobile_mail_address.json　携帯キャリアメールと判定するドメインの設定ファイル<br>
       　│　└ oznform_config.js　サジェスト対象ドメイン／画像アップロード時のサイズ制限設定ファイル<br>
       　├ css/　フォーム本体機能で使用するCSS, アイコンフォントファイル【必須】<br>
       　├ db/　履歴CSV機能使用時のデータベース保存ディレクトリ（移動可能）<br>
       　├ js/　フォーム本体機能で使用するJavaScriptファイル【必須】<br>
       　├ lib/　フォーム機能ライブラリ群【必須】<br>
       　├ uploads/　ファイルアップロード機能利用時の処理ファイル<br>
       　│　├ files/　ファイルの一時保存領域<br>
       　│　├ index.php　ファイルアップロード時の設定ファイル<br>
       　│　└ UploadHandler.php　ファイルアップロード時の処理を行うライブラリ（編集不要）<br>
       　├ vendor/　Composer ライブラリ群【必須】<br>
       　├ ozn-form.php　ozn-form実行ファイル<br>
       　├ ozn-form-validation.php　バリデーション処理ファイル<br>
       　├ error_page.php　意図しない動作による検証エラーが発生した際のページテンプレート<br>
       　├ send_mail_error.php　メール送信エラーが発生した際のページテンプレート<br>
       　└ index.html　ダミーの白紙ファイル</p>

    <hr class="setting-hr">



    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <h2 class="setting-header">2. フォームページのフロントファイル設置</h2>

    <p>設置サンプルファイルのディレクトリ /sample-form/ を任意の名前にリネームします。
       このディレクトリが、ユーザーがアクセスするフォームページのURLになります。
    </p>

    <h3 class="config-subheader">必要なファイル</h3>
    <p>サンプルファイルを参考に説明しますが、フロント側のファイル名はすべて変更可能です。</p>
    <ul>
      <li>
        <dl>
          <dt>設定ファイル (ozn-config.json)【必須】</dt>
          <dd>送信先アドレス・入力項目の定義・バリデーション設定・ページ遷移設定を定義します。</dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>入力ページファイル (index.php)【必須】</dt>
          <dd>フォーム入力ページ内容。設定によりステップ分割可能。</dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>確認ページファイル (confirm.php)</dt>
          <dd>入力内容の確認ページ内容。設定により省略可能。</dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt>送信完了ページファイル (complete.php)【必須】</dt>
          <dd>自動返信メールの件名・文面テンプレート・送信完了ページ内容。</dd>
        </dl>
      </li>
    </ul>
    <p>
      設定ファイル (ozn-config.json) の記述について、詳細は「<a href="./setting.html">フォーム設定項目一覧</a>」ページを参照してください。
    </p>

    <p>
        各ステップのPHPファイルでは、設定jsonファイルと、ozn-form実行ファイルへのパス指定が必要です。jsonファイル名やozn-form本体のディレクトリ名、階層を変更した場合は、以下の箇所を書き換えてください。
    </p>

    <div class="code-example">
        <h5>コード例</h5>
        <pre><code>&lt;?php
    // 設定ファイルのパスを設定
    $config_path = dirname(__FILE__) . '/' . 'ozn-config.json';
    // OznForm 実行ファイル読み込み
    require '../ozn-form/ozn-form.php';
?&gt;</code></pre>
    </div>


    <p>各ステップのPHPファイルは、HTML+CSSで自由にスタイリング可能です。<br>
      ただしozn-formのフォームのすべてのステップにおいて、head要素内に以下のPHPコードを記述してください。<br>
     （ozn-form 標準スタイルを使用したくない場合や、別途自分でスタイルをあてていきたい場合は省略可能です。）
    </p>

    <div class="code-example">
      <pre><code>&lt;?php echo $ozn_form_styles; ?&gt;</code></pre>
    </div>

    <p>
      詳細は「<a href="./styles.html">ozn-form 標準スタイル</a>」ページを参照してください。<br>
    </p>

    <p>また、送信完了画面を除く全ページのhead要素内に、以下のPHPコードを記述してください。</p>
    <div class="code-example">
      <pre><code>&lt;script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"&gt;&lt;/script&gt;
&lt;?php echo $ozn_form_javascript; ?&gt;</code></pre>
    </div>

    <p>jQueryは必須です。1系(1.8.0以上) または 2.x系であれば、設置予定のサイトで使用しているものを流用できます。(1.8未満、3系には対応していません。)</p>

    <hr class="setting-hr">

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <h2 class="setting-header">3. フォーム入力ページ</h2>

    <p>入力部分は通常通りformタグでマークアップしてください。action属性で次のステップのPHPファイルのパスを指定します。<br>
      ozn-form本体が使用するclass名については、「<a href="./styles.html">ozn-form 標準スタイル</a>」ページを参照してください。<br>
    </p>

    <div class="code-example">
      <h4>コード例</h4>
      <pre><code>&lt;form action="./confirm.php" method="post" enctype="multipart/form-data"&gt;
    （略）
    &lt;textarea name="mail_body" rows="10" class="ozn-input" placeholder="お問い合わせ内容をご入力ください。"&gt;&lt;/textarea&gt;
    &lt;div class="ozn-form-buttons"&gt;
       &lt;button type="submit" class="ozn-btn ozn-form-nav submit">入力内容の確認へ進む →&lt;/button&gt;
    &lt;/div&gt;
&lt;/form&gt;</code></pre>
    </div>
    <p>ファイルアップロード機能を使用する場合、 <code>enctype="multipart/form-data"</code> 属性を記述してください。</p>

  <hr class="setting-hr">

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
  <h2 class="setting-header">4. 入力確認ページ</h2>
  <p>フォームの入力値を表示したい要素に data-insert="NAME値" を指定しするとそのNAME値の入力値で要素の中身が置換されます。<br>
     data-if属性を使った条件分岐もできます。data-if="条件にするNAME値" という指定をしてください。例の場合だとcustomer_kana入力値がある場合は <code>&lt;span data-if="customer_kana"&gt;</code> の中身を表示して、ない場合は非表示になります。</p>
  <div class="code-example">
    <h4>コード例</h4>
    <pre><code>&lt;tr&gt;
    &lt;th&gt;お名前&lt;/th&gt;
    &lt;td&gt;
        &lt;span data-insert=&quot;customer_name&quot;&gt;&lt;/span&gt;
        &lt;span data-if=&quot;customer_kana&quot;&gt;
            （&lt;span data-insert=&quot;customer_kana&quot;&gt;&lt;/span&gt;）
        &lt;/span&gt;
    &lt;td&gt;
&lt;/tr&gt;</code></pre>
  </div>

  <p>確認画面はform要素でのマークアップは不要ですが、a要素で送信完了ページのPHPファイルのパスを指定します。</p>
  <div class="code-example">
    <h4>コード例</h4>
    <pre><code> &lt;div class=&quot;ozn-form-buttons&quot;&gt;
    &lt;span&gt;&lt;a href=&quot;./complete.php&quot; class=&quot;ozn-btn ozn-form-nav submit&quot;&gt;この内容で送信する →&lt;/a&gt;&lt;/span&gt;
    &lt;span&gt;&lt;a href=&quot;./index.php&quot; class=&quot;ozn-btn ozn-form-nav back&quot;&gt;← 戻って書き直す&lt;/a&gt;&lt;/span&gt;
&lt;/div&gt;</code></pre>
  </div>


  <hr class="setting-hr">

    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
  <h2 class="setting-header">5. 送信完了ページ</h2>

  <p>サンプルファイル(complete.php) 内のコメントに記述例を記載していますので参照してください。</p>

  <h3 class="config-subheader">メール送信設定</h3>
  <p>送信方法にSMTP送信・Gmail SMTP送信を利用する場合は、該当する部分のコメントアウトを外し、設定項目を入力してください。</p>

  <h4>※Gmail XOAuth2認証を使用する場合</h4>
  <ol>
    <li><a href="http://famirror.hateblo.jp/entry/2015/12/18/180000" target="_blank" rel="noopener">こちらのブログ記事</a>に紹介されている手順でクライアントIDとクライアント シークレットを取得</li>
    <li>取得したIDとSECRETを /ozn-form/vendor/phpmailer/phpmailer/get_oauth_token.php の32,33行目にコピペ</li>
    <li>上記スクリプトのアドレスを「承認済みのリダイレクト URI」に設定しておく<br>
      <img src="../images/functions/google_auth01.png" alt=""></li>
    <li>上記のスクリプトにブラウザでアクセス</li>
    <li>Googleの認証ページに飛ぶので許可するとリフレッシュトークンが表示される</li>
    <li>リフレッシュトークン取得後はget_oauth_token.phpをサーバから削除</li>
  </ol>

  <h3 class="config-subheader">メールテンプレート</h3>
  <p>フォームの NAME値 をタグに用いることによってメールテンプレート中のタグをフォーム入力値で置換できます。</p>
  <div class="code-example">
    <h4>コード例</h4>
    <pre><code>フォームHTML:
    &lt;input name=&quot;last_name&quot; value=&quot;田中&quot;&gt; &lt;input name=&quot;first_name&quot; value=&quot;一郎&quot;&gt;
テンプレート中のタグ表記:
    <% last_name %> <% first_name %> 様
テンプレート置換例:
    田中 一郎 様</code></pre>
  </div>


</div>

<!-- @@close -->

</div>