<!-- @@master ../../layout/layout.html {"title": "フォーム設定項目一覧", "relative_path": "../", "functions_active":"active"} -->

<!-- @@block additional_header -->

<!-- @@close -->

<!-- @@block content -->

<div class="page-header">
    <h1>フォーム設定項目一覧</h1>
</div>

<p>フォーム設定項目はJSONファイルに記述します。<br>
JSONファイルに馴染みのない方は、以下の参考サイトをご覧ください。</p>

<ul>
  <li><a href="http://www.trident-game.com/blog/2015/10/14/%E3%80%90%E8%BC%AA%E8%AC%9B%E3%80%91json%E3%81%AE%E6%9B%B8%E3%81%8D%E6%96%B9/" target="_blank" rel="noopener">【輪講】JSONの書き方 | TRIDENT Mobile &amp; Network Lab. Blog</a></li>
</ul>

<h2 class="setting-header">JSONファイル編集時の注意</h2>

<ul>
  <li>JSONファイル内にコメントは入れられません。</li>
  <li>括弧の数を間違えるとエラーになります。</li>
  <li>PHPでは最後の項目にカンマがあってもエラーになりませんが、JSONファイルでは最後の要素の後にカンマがあるとエラーになります。</li>
  <li>フォームでエラーが出る場合、JSONファイルの書式ミスの場合が多いです。<a href="https://jsonlint.com/" target="_blank" rel="noopener">JSONLint</a> などのツールで書式エラーがないか確認してみてください。</li>
</ul>

<hr class="setting-hr">

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<h2 class="setting-header">デバッグモード指定</h2>

<table class="setting-table">
    <tr>
        <th>必須</th>
        <th>設定値の型</th>
        <th>設定値サンプル</th>
    </tr>
    <tr>
        <td class="text-center">×️</td>
        <td>Boolean</td>
        <td>true / false</td>
    </tr>
</table>


<p>
    開発時に使用するモード。通常使用では設定する必要のない項目です。<br>
    true に設定すると下記の動作となります。
</p>
<ul>
    <li>フォームから離脱するときのメッセージが表示されなくなる</li>
    <li>送信後もフォームに記入された情報が削除されない。（セッションが削除されない）</li>
    <li>セッション内の情報（フォームに入力されシステムが保持している情報）が常に画面に表示される。</li>
</ul>

<p></p>

<div class="code-example">
    <h5>コード例</h5>
    <pre><code>{"is_debug": true}</code></pre>
</div>

<hr class="setting-hr">


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<h2 class="setting-header">フォーム名</h2>

<table class="setting-table">
    <tr>
        <th>必須</th>
        <th>設定値の型</th>
        <th>設定値サンプル</th>
    </tr>
    <tr>
        <td class="text-center">○</td>
        <td>String</td>
        <td>"sample_form"</td>
    </tr>
</table>


<p>
    フォームの名前を指定します。<br />
    複数フォームを設置する場合には、このフォーム名が他のフォームと被らないように違う名前を設定する必要があります。
</p>

<div class="code-example">
    <h5>コード例</h5>
    <pre><code>{"form_name": "sample_form"}</code></pre>
</div>

<hr class="setting-hr">

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<h2 class="setting-header">初期ページパス</h2>

<table class="setting-table">
    <tr>
        <th>必須</th>
        <th>設定値の型</th>
        <th>設定値サンプル</th>
    </tr>
    <tr>
        <td class="text-center">○</td>
        <td>String</td>
        <td>"/document/sample_form/index.php"</td>
    </tr>
</table>


<p>フォームの初期ページのパスを設定します。</p>
<div class="alert alert-warning setting-alert">
    <span class="glyphicon glyphicon-warning-sign"></span>
    パスは絶対パスで記載してください。
</div>

<div class="code-example">
    <h5>コード例</h5>
    <pre><code>{"form_root": "/document/sample_form/index.php"}</code></pre>
</div>

<hr class="setting-hr">

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<h2 class="setting-header">ページ離脱メッセージ</h2>

<table class="setting-table">
    <tr>
        <th>必須</th>
        <th>設定値の型</th>
        <th>設定値サンプル</th>
    </tr>
    <tr>
        <td class="text-center">×</td>
        <td>String</td>
        <td>"このページから移動してよろしいですか？\n入力内容は保存されていない可能性があります。"</td>
    </tr>
</table>

<p>
    フォーム入力途中にページを離脱する場合に表示するメッセージを設定します。<br>
    改行は「\n」で入力してください。
</p>
<div class="alert alert-success setting-alert">
    <span class="glyphicon glyphicon-info-sign"></span>
    この設定項目を記載しない場合は、離脱メッセージ機能をOFFにできます。<br>
</div>
<div class="alert alert-warning setting-alert">
    <span class="glyphicon glyphicon-warning-sign"></span>
    IE/Edge以外のブラウザについてはこちらで設定したメッセージは適用されず、ブラウザ固有のメッセージとなります。
</div>

<div class="code-example">
    <h5>コード例</h5>
    <pre><code>{"unload_message": "このページから移動してよろしいですか？\n入力内容は保存されていない可能性があります。"}</code></pre>
</div>

<hr class="setting-hr">

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<h2 class="setting-header">検証機能設定</h2>

<table class="setting-table">
    <tr>
        <th>必須</th>
        <th>設定値の型</th>
        <th>設定値サンプル</th>
    </tr>
    <tr>
        <td class="text-center">○</td>
        <td>Object</td>
        <td> {...}</td>
    </tr>
</table>

<p>
    リアルタイム検証機能の全般的な設定を行う項目です。<br>
    "show_icon" を trueにすると、バリデート時にOK/NGのアイコンを表示します。<br>
    submit時にエラーがあった場合、スムーススクロールでform要素の先頭まで戻りますが、サイトデザインによってスクロール位置を変えたい場合は "shift_scroll_position" の数値を調整してください。
</p>

<div class="code-example">
    <h5>コード例</h5>
    <pre><code>{
  "validation": {
    "show_icon": true,
    "shift_scroll_position": -50
  }
}</code></pre>
</div>

<hr class="setting-hr">

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<h2 class="setting-header">送信メール設定</h2>

<table class="setting-table">
    <tr>
        <th>必須</th>
        <th>設定値の型</th>
        <th>設定値サンプル</th>
    </tr>
    <tr>
        <td class="text-center">○</td>
        <td>Object</td>
        <td> {...}</td>
    </tr>
</table>

<p>
    送信メールの設定を行う項目です。送信方法や、各送信先のTO, CC, BCCアドレスなどの設定はこの中で行います。
</p>

<div class="code-example">
    <h5>コード例</h5>
    <pre><code>{
  "mail": {

    "send_by": "Gmail SMTP",
    "redirect_to": "",
    "document_root": "/Path/to/document_root",

    "admin": {
      "to_name"   : "",
      "to"        : "oznform+webcontact@gmail.com",
      "cc"        : [],
      "bcc"       : [],
      "from_name" : "OznForm Mailer",
      "from"      : "oznform@gmail.com",
      "reply_to"  : "<% email %>"

    },

    "auto_reply": {
      "enabled"   : true,
      "to_name"   : "<% customer_name %> 様",
      "to"        : "<% email %>",
      "cc"        : [],
      "bcc"       : [],
      "from_name" : "OznForm Tester",
      "from"      : "oznform@gmail.com",
      "reply_to"  : "oznform@gmail.com"
    }
}</code></pre>
</div>

<table class="table">
  <tr>
    <th>設定値の型</th>
    <th>必須かどうか</th>
    <th>説明</th>
  </tr>
  <tr>
    <td>"send_flag"</td>
    <td>省略可</td>
    <td>true にすると送信実行フラグを返す（デバッグ用）<br>
    通常は false または 省略でよい</td>
  </tr>
  <tr>
    <td>"send_by"</td>
    <td>必須</td>
    <td>メール送信方法の指定
      <ul>
        <li>sendmail: サーバ標準（PHPのmail関数相当）で送信</li>
        <li>SMTP: サーバのSMTPを使って送信</li>
        <li>Gmail SMTP: GmailのSMTPを使って送信</li>
        <li>Gmail SMTP With OAuth: Gmail XOAuth2認証後、SMTP送信（こちらを推奨）</li>
      </ul>
  </tr>
  <tr>
    <td>"redirect_to"</td>
    <td>省略可</td>
    <td>メール送信完了時、任意のURLに転送させたい場合に指定<br>
    空白の場合、"pages" 項目の指定に合わせて遷移</td>
  </tr>
  <tr>
    <td>"document_root"</td>
    <td>省略可</td>
    <td>プログラムから出力されるCSSとJSのパスがズレてしまう場合に指定してください。<br>
    （例: さくらのレンタルサーバ上で複数のドメインを運用している等、マルチドメイン環境化でApacheのドキュメントルートとドメインのドキュメントルートが異なる場合）<br>
     設定しなければ $_SERVER['DOCUMENT_ROOT'] の値が自動適用されます。<br>
     絶対パスで記述。末尾の "/" は不要。</td>
  </tr>
  <tr>
    <td>"admin"</td>
    <td>必須</td>
    <td>管理者宛メールの送信設定</td>
  </tr>
  <tr>
    <td>"auto_reply"</td>
    <td>必須</td>
    <td>入力ユーザー宛自動返信メールの設定<br>
        enabled項目を false にすることで、お客様宛メール送信を停止することができます。</td>
  </tr>
</table>

<div class="alert alert-warning setting-alert">
  <span class="glyphicon glyphicon-warning-sign"></span>
  cc, bccは配列になります。指定するアドレスなし、または1つだけの場合でも [] を付けてください。
</div>

<hr class="setting-hr">

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<h2 class="setting-header">ページ遷移設定</h2>

<table class="setting-table">
  <tr>
    <th>必須</th>
    <th>設定値の型</th>
    <th>設定値サンプル</th>
  </tr>
  <tr>
    <td class="text-center">○</td>
    <td>Object</td>
    <td> {...}</td>
  </tr>
</table>

<p>
  フォームの画面遷移数と対応するファイル名を定義します。<br>
  ファイル名から拡張子を除いたものを定義してください。
</p>

<div class="code-example">
  <h5>コード例</h5>
  <pre><code>{
  "pages": {
      "index": {
          "role": "form",
          "forms": {...}
      },
      "step2": {
          "role": "form",
          "forms": {...}
      },
      "confirm": {
          "role": "confirm"
      },

      "complete": {
          "role": "mailsend"
      }
  }
}</code></pre>
</div>

<table class="table">
  <tr>
    <th>設定値の型</th>
    <th>説明</th>
  </tr>
  <tr>
    <td>"role"</td>
    <td>画面の機能定義。以下の3つのうちいずれかを指定。
      <ul>
        <li>form: 入力画面（複数定義可）</li>
        <li>confirm: 入力確認画面</li>
        <li>mailsend: メール送信処理 および 送信完了画面</li>
      </ul>
  </tr>
  <tr>
    <td>"forms"</td>
    <td>"role" が "form" の場合に必須。各入力項目の細かい定義を行います。詳細は後述。</td>
  </tr>
</table>

<div class="alert alert-success setting-alert">
  <span class="glyphicon glyphicon-info-sign"></span>
  pages を form, mailsend の2つだけにすることで、確認画面のないシンプルなフォームにすることも可能です。<br>
</div>

<hr class="setting-hr">


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<h2 class="setting-header">入力項目設定</h2>

<table class="setting-table">
  <tr>
    <th>必須</th>
    <th>設定値の型</th>
    <th>設定値サンプル</th>
  </tr>
  <tr>
    <td class="text-center">○</td>
    <td>Object</td>
    <td> {...}</td>
  </tr>
</table>

<p>
  フォームの設定項目は、input要素のNAME値をキーにして定義します。
</p>

<div class="code-example">
  <h5>コード例</h5>
  <pre><code>"forms": {
    "customer_name": {
        "label": "お名前",
        "validates": ["required"]
    },
    "customer_kana": {
        "label": "フリガナ",
        "validates": ["kanaOnly","required"]
    },
    "email": {
        "label": "メールアドレス",
        "validates": ["required", "email_detail"],
        "mobile_mail_warning": "携帯電話のアドレスが入力されました。example.com ドメインからのメールを受信できるように設定お願いします。"
    },
    "materials": {
        "label": "興味のある商品"
    },
    "materials-etc": {
        "label": "その他の商品名",
        "validate_condition": {
            "materials": ["required", "equals_value:その他"]
        },
        "validates": ["required"]
    },
    "attachment[]": {
        "label": "デザイン案",
        "type": "upload_files"
    },
    "title": {
        "label": "お問い合わせ種別",
        "validates": ["required"],
        "error_message_position": ".title-error",
        "error_message_template": "&lt;p&gt;<% messages %>&lt;/p&gt;",
        "error_messages": {
            "required": "いずれか1つを選択してください。"
        }
    }
}</code></pre>
</div>


<table class="table">
  <tr>
    <th>設定値の型</th>
    <th>必須かどうか</th>
    <th>説明</th>
  </tr>
  <tr>
    <td>"label"</td>
    <td>必須</td>
    <td>入力項目の日本語名。バリデーション時のエラーメッセージ等で使用。</tr>
  <tr>
    <td>"validates"</td>
    <td>省略可</td>
    <td>適用するバリデーション項目を配列で指定。
      <ul>
        <li>required: 必須項目</li>
        <li>kanaOnly: ひらがな または カタカナ</li>
        <li>email: メールアドレス形式チェック（エラーメッセージ簡易版）</li>
        <li>email_detail: メールアドレス形式チェック（エラーメッセージ詳細版）</li>
        <li>tel: 電話番号形式チェック（ハイフンありなし対応）</li>
        <li>zip: 郵便番号形式チェック（ハイフンありなし対応）</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>"validate_condition"</td>
    <td>省略可</td>
    <td>条件付き必須チェック<br>
        （例: 別の入力項目の値が「その他」だった時のみ入力必須 など）<br>
        詳細仕様は後述。</td>
  </tr>
  <tr>
    <td>"type"</td>
    <th>省略可</th>
    <td>ファイル添付欄の場合にのみ "upload_files" を指定してください。</td>
  </tr>
  <tr>
    <td>"mobile_mail_warning"</td>
    <th>省略可</th>
    <td>メールアドレスの入力欄に指定<br>
        携帯キャリアメールを入力された際に、メッセージを表示します。</td>
  </tr>
  <tr>
    <td>"error_messages"<br>
        "error_message_position"<br>
        "error_message_template"
    </td>
    <th>省略可</th>
    <td>入力エラー時のメッセージをカスタマイズできます。<br>
        詳細仕様は後述。</td>
  </tr>
</table>


<!-- end content -->
<!-- @@close -->